1. What are data structures, and why are they important ?

Ans. Data structures are methods of organizing, storing, and managing data in a computer so that it can be accessed, modified, and processed efficiently.Data structures are important because they improve the efficiency of programs, optimize memory usage, make problem-solving easier, and form the foundation of efficient algorithms and software systems.

2. Explain the difference between mutable and immutable data types with examples.

Ans. Mutable data types are data types whose values can be changed or modified after creation without creating a new object while Immutable data types are data types whose values cannot be changed after creation; any change results in the creation of a new object.

3. What are the main differences between lists and tuples in Python ?

Ans. Lists are mutable, ordered collections in Python that allow elements to be changed, added, or removed after creation while Tuples are immutable, ordered collections in Python whose elements cannot be changed, added, or removed once created.

4. Describe how dictionaries store data.

Ans. Dictionaries store data as key–value pairs, where each unique key is mapped to a value, allowing fast access, insertion, and deletion of data.

5. Why might you use a set instead of a list in Python ?

Ans. A set is used instead of a list in Python because it stores only unique elements and allows faster membership testing, making it efficient when duplicates are not needed.

6. What is a string in Python, and how is it different from a list ?

Ans. A string in Python is an immutable sequence of characters used to represent text while A list is a mutable sequence of elements that can store multiple data types and be modified after creation.

7. How do tuples ensure data integrity in Python ?

Ans. Tuples ensure data integrity in Python by being immutable, meaning their elements cannot be changed after creation, which prevents accidental modification of data.

8. What is a hash table, and how does it relate to dictionaries in Python ?

Ans. Hash Table in Data structure that maps keys to values using a hash function; Python dictionaries are implemented using hash tables for efficient key-based access.

9. Can lists contain different data types in Python ?

Ans. Yes, in Python, a list is an ordered collection of items that can contain elements of different data types, such as integers, strings, floats, booleans, or even other lists.

10. Explain why strings are immutable in Python.

Ans. In Python, a string is immutable, meaning its value cannot be changed after it is created.This immutability exists because strings are stored in a way that ensures efficiency and safety:
  i.) It allows strings to be used as keys in dictionaries and elements in sets, which require objects to have a fixed value (hashable).
  ii.) It prevents accidental changes to string data, which helps avoid bugs when multiple parts of a program use the same string.

11. What advantages do dictionaries offer over lists for certain tasks ?

Ans. Dictionaries in Python are data structures that store data as key-value pairs and offer advantages over lists for certain tasks. They allow fast access to values using keys, provide meaningful identifiers instead of numeric indexes, and can naturally represent associative or nested relationships. Each key in a dictionary is unique, which prevents duplicate entries, and dictionaries can be easily modified by adding, updating, or removing key-value pairs. These features make dictionaries especially useful when quick lookups, clear identifiers, and structured data storage are needed.

12. Describe a scenario where using a tuple would be preferable over a list.

Ans. A tuple in Python is an immutable ordered collection of items, and it is preferable over a list when the data should not change after creation. For example, tuples are ideal for representing fixed sets of related values, such as coordinates (x, y) or RGB color values (255, 0, 0), where immutability ensures the values remain constant and can be safely used as keys in dictionaries or stored in sets.

13. How do sets handle duplicate values in Python ?

Ans. In Python, a set is an unordered collection of unique elements, and it automatically removes or ignores duplicate values. When duplicate items are added to a set, only one instance of each value is stored, ensuring that all elements in the set are distinct.

14. How does the “in” keyword work differently for lists and dictionaries ?

Ans. In Python, the in keyword checks for membership, but it works differently for lists and dictionaries. For lists, in tests whether a value exists among the list’s elements. For dictionaries, in tests whether a value exists among the dictionary’s keys, not its values.

15. Can you modify the elements of a tuple? Explain why or why not.

Ans. In Python, a tuple is an immutable ordered collection, which means its elements cannot be modified after creation. This immutability ensures that the values in a tuple remain constant, allowing tuples to be used safely as dictionary keys or stored in sets, and preventing accidental changes to fixed data.

16. What is a nested dictionary, and give an example of its use case ?

Ans. A nested dictionary in Python is a dictionary that contains another dictionary as a value for one or more of its keys. It is used to represent structured or hierarchical data, where each key maps to a set of related key-value pairs.

17. Describe the time complexity of accessing elements in a dictionary.

Ans. In Python, accessing an element in a dictionary by its key has an average time complexity of O(1), meaning it can be retrieved in constant time regardless of the size of the dictionary. This efficiency is achieved through the use of a hash table, which allows direct lookup of values using their keys. In rare cases of hash collisions, the time complexity can degrade to O(n), but this is uncommon in practice.

18. In what situations are lists preferred over dictionaries ?

Ans. Lists in Python are preferred over dictionaries when the order of elements matters, when data needs to be accessed by position (index), or when storing a sequence of items that are homogeneous or do not require unique identifiers. Lists are ideal for tasks that involve iteration, sorting, or maintaining an ordered collection of values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

Ans. Dictionaries in Python are considered unordered because they do not maintain the order of elements based on insertion and store items based on hashed keys rather than sequence. This means that data retrieval in a dictionary depends on the key rather than the position, allowing fast access to values but not preserving any specific order of elements.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. In Python, the difference between a list and a dictionary in terms of data retrieval is that a list retrieves elements by their index, requiring sequential access or iteration to find a value, while a dictionary retrieves values directly using keys, allowing fast, constant-time access without searching through other elements.

In [2]:
# 1. Write a code to create a string with your name and print it.

name = "Ajitesh"

print(name)

Ajitesh

In [3]:
# 2. Write a code to find the length of the string "Hello World".

text = "Hello World"

length = len(text)
print(length)

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"

first_three = text[:3]

print(first_three)

Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase.

text = "hello"

uppercase_text = text.upper()

print(uppercase_text)

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"

new_text = text.replace("apple", "orange")

print(new_text)

I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]

print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]

numbers.append(10)

print(numbers)

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]

numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

In [10]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']

second_element = letters[1]

print(second_element)

b

In [11]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]

numbers.reverse()

print(numbers)

[50, 40, 30, 20, 10]

In [12]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

numbers_tuple = (100, 200, 300)

print(numbers_tuple)

(100, 200, 300)

In [13]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')

second_to_last = colors[-2]

print(second_to_last)

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)

minimum_number = min(numbers)

print(minimum_number)

5

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')

index_cat = animals.index("cat")

print(index_cat)

1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "mango")

is_kiwi_present = "kiwi" in fruits

print(is_kiwi_present)

False

In [17]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a', 'b', 'c'}

print(letters)

{'c', 'a', 'b'}

In [18]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}

numbers.clear()

print(numbers)

set()

In [19]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

numbers = {1, 2, 3, 4}

numbers.remove(4)

print(numbers)

{1, 2, 3}

In [20]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

In [23]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Akhil",
    "age": 25,
    "city": "Paris"
}

print(person)

{'name': 'Akhil', 'age': 25, 'city': 'Paris'}

In [24]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}

name_value = person['name']

print(name_value)

Alice

In [26]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

person.pop('age')

print(person)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}

key_exists = 'city' in person

print(key_exists)

True

In [28]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]

my_tuple = (4, 5, 6)

my_dict = {'name': 'Alice', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Alice', 'age': 25}

In [29]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print(random_numbers)

[38, 59, 62, 94, 97]

In [30]:
# 28. Write a code to create a list with strings and print the element at the third index.

fruits = ["apple", "banana", "cherry", "date", "elderberry"]

print(fruits[3])

date

In [31]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [32]:
# 30. Write a code to convert a list of strings into a set.

fruits_list = ["apple", "banana", "cherry", "apple", "banana"]

fruits_set = set(fruits_list)

print(fruits_set)

{'apple', 'cherry', 'banana'}